{% extends 'base_registration.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Password reset{% endblock %}

{% block form_title %}Password Reset{% endblock %}
{% block cardBody %}
{% if validlink %}

<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" class="btn btn-primary btn-lg " value="Change my password">
</form>

{% else %}

{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}

{% endif %}

{% endblock %}










