{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{% load tz %} <!--Time zones -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<script>

$("ul.nav-tabs a").click(function (e) {
  e.preventDefault();
    $(this).tab('show');
});


   function showMarket(div_id, market_id, do_toggle){


//make an ajax call and get status value using the same 'id'
//var var1= document.getElementById("div_id").value;
$.ajax({

        type:"GET",//or POST
        url:'market/' + market_id + '/',
        success:function(data){
               // process on data
               var elName = '#' + div_id;
               $(elName).html(data);

               if (do_toggle) {
               $(elName).toggle();
               }

        }
     })

}


function placeBet(market_id, comp_id) {

document.getElementById('marketErr'+market_id).innerHTML = '';

/* Perform some basic validation */
var price = document.getElementById('price' + market_id).value;

var selected = document.querySelector('input[name=competitorSelect' + market_id +']:checked');


if (price < 0 || price > 10) {
    /*alert('Invalid');*/
} else if (selected == null) {

document.getElementById('marketErr'+market_id).innerHTML = 'Error: no competitor selected';

} else {


$.ajax({

        type:'POST',
        url:'placeBet/' + market_id + '/',
        data:{
            competitor:$('input[name=competitorSelect' + market_id +']:checked').val(),
            price:$('#price' + market_id).val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){
        showMarket('marketDetails' + comp_id, market_id, false);
        }
     })

}

}



</script>
{% endblock %}

{% block app_name %}
<a class="nav-link" href="/betting">Betting pool</a>
{% endblock %}

{% block content %}
<!--<div class="container">
    <div style="float:right; width:60%">
        <div style="float:right; width:200px">
            {% if user.is_authenticated %}
            Logged in as {{ user.username }}<br>

            (<a href="{% url 'logout' %}?next={{ request.path | urlencode }}">logout</a>, <a href="{% url 'password_reset' %}?next={% url 'login' %}">reset password</a>). <br>
            Currently wagered: ... <br>
            Profit/loss: ... <br>
            Ranking: Chopper <br>
            {% else %}

            <a href="{% url 'login' %}?next={{ request.path | urlencode }}">Login</a> or <a href="{% url 'accounts:signup' %}?afterlogin={{ request.path | urlencode }}">signup</a> to place bets.
            {% endif %}

        </div>
    </div>
</div>-->


<div class="container">




    <form method="POST" id="marketsForm">
        {% csrf_token %}

        <div class="tabbable boxed parentTabs">
            <ul class="nav nav-tabs">
                <li class="navTitle"><span class="badge badge-primary">Event</span></li>
                {% for event in events %}
                <li><a href="#event{{event.id}}">{{event.name}}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">


                {% for event in events %}
                <div class="tab-pane fade" id="event{{event.id}}">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="navTitle"><span class="badge badge-primary">Race</span></li>
                            {% if event.competition_set.all %}
                            {% for comp in event.competition_set.all %}
                            <li><a href="#comp{{comp.id}}">{% if not comp.can_place_bet %}<span class="glyphicon glyphicon-lock" aria-hidden="true"></span> {% endif %}{{comp.name}}</a> </li>
                            {% endfor %}
                            {% else %}
                            <li>No races available</li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">

                            {% for comp in event.competition_set.all %}
                            <div class="tab-pane fade" id="comp{{comp.id}}">

                                <ul class="nav nav-tabs">
                                     <li class="navTitle"><span class="badge badge-primary">Market</span></li>
                                     {% for m in comp.market_set.all %}
                                    <li><a href='#' onclick="showMarket('marketDetails{{comp.id}}', {{m.id}}, false)">{{m.name}}</a></li>
                                    {% endfor %}
                                </ul>

                                <div id="marketDetails{{comp.id}}"></div>


                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </form>
</div>


<script>
    $("#marketsForm").submit(function(event) {

                /* stop form from submitting normally */
                event.preventDefault();
                });

                $("ul.nav-tabs a").click(function (e) {
  e.preventDefault();
    $(this).tab('show');
});


</script>



{% endblock %}